output
product
.svn
.DS_Store
xcuserdata
project.xcworkspace
*.framework
*.a
*.so
*.aar
Pods
Podfile.lock
LiteKitDemo.xcworkspace
LiteKitCoreDemo.xcworkspace
Dependences
Dependence
*.iml
*.idea
libs
build/
.gradle
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
